* {
    box-sizing: border-box;
}
body {
//margin: 2em;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(250, 250, 250);
}

.row::after{
    content: "";
    clear: both;
    display: block;
}
[class*="colm-"]{
    float: left;
    padding: 15px;
}

.colm-1{
    width: 8.33%;
}
.colm-2{
    width: 16.66%;
}
.colm-3{
    width: 24.99%;
    background-color:darkolivegreen;
}
.colm-4{
    width: 33.33%;
    background-color:darkkhaki;
}
.colm-5{
    width: 41.61%;
}
.colm-6{
    width: 49.98%;
    background-color:tan;
}
.colm-7{
    width: 58.31%;
}
.colm-8{
    width: 66.64%;
}
.colm-9{
    width: 74.97%;
}
.colm-10{
    width: 83.3%;
}
.colm-11{
    width: 91.63%;
}
.colm-12{
    width: 100%;
}
.img-responesiveness{
    width: 100%;
    height: auto;
}
.container{
    margin-left: 25px;
    margin-right:25px ;
    margin-bottom: 10px;
    background-color: rgb(242,242,242);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.19);

}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="colm-"] {
        width: 100%;
    }
}
