* {
    box-sizing: border-box;
}
body {
    /*margin: 2em;*/
    font-family: 'Roboto', sans-serif;
    background-color: #64706c;
    /*background-image:url("src/c&j.jpg") ;*/
    margin: 0px;
}

.row {
    padding: 5px;
}

.row::after{
    content: "";
    clear: both;
    display: block;
}
[class*="colm-"]{
    float: left;
    padding: 15px;
}

.colm-1{
    width: 8.33%;
}
.colm-2{
    width: 16.66%;
}
.colm-3{
    width: 24.99%;

}
.colm-4{
    width: 33.33%;

}
.colm-5{
    width: 41.61%;
}
.colm-6{
    width: 49.98%;

}
.colm-7{
    width: 58.31%;
}
.colm-8{
    width: 66.64%;
}
.colm-9{
    width: 74.97%;
}
.colm-10{
    width: 83.3%;
}
.colm-11{
    width: 91.63%;
}
.colm-12{
    width: 100%;
}
.img-responesiveness{
    width: 100%;
    height: auto;
}
.container{
    margin-left: 25px;
    margin-right:25px ;
    margin-bottom: 10px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.19);

}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="colm-"] {
        width: 100%;
    }
    .nav > li {
        width: 100%;
        text-align: center;
    }

    .overlay{

        font-size: 20px !important;;
    }
    .nav.mobile > li:not(:first-child) {
        float: left;
        display: none;
    }
    .icon {
        display: block !important;
        text-align: right !important;;
    }
}
.nav > li {
    float: left;

}

.icon {
    display: none;
}

.add-left-menu-item{
    float: right !important;
}
.nav{
    position: fixed;
    list-style-type: none;
    left: 0px;
    top:0px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
    z-index: 1;

}

.nav > li > a {
    text-decoration: none;
    display: block;
    padding: 10px;
    color: white;
    font-weight: bolder;

}

.nav > li > a:hover{
    background-color: #935347;
}
.nav > li > a:active{
    background-color: #b3c2bf;
}
.compansate{
    margin-top: 42.399993896484375px;
}

.overlay{
    position: absolute;
    top: 0px;
    display: block;
    width: 100%;
    text-align: center;
    font-family: 'Ruslan Display', cursive;
    font-size: 50px;
    color:#3b3a36;
}

.underlay {
    position: relative;
}
.under{
    z-index: 0;
}

input{
    width:100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.form-container{
    /*padding: 35px 15px 35px 15px;*/
    width: 70%;
    margin: auto;
}


.form-container > form {
    background-color:#F2F2F2;
    border: 0.5px lightgray solid;
    padding: 5%;
}

.form-header{
    font-size: xx-large;
    display: block;
    text-align: center;
    margin-bottom: 1%;
}
.friend-list-items {
    list-style-type: none;
}

.override{
    padding: 4px;
}
.friend-list-items >li {
    width: 60%
}
.logo {
    color:white;
}

.container-style{
    background-color: #ede9ce;
}
.nav-img{
    width: 40px;
    border-radius: 60%
}
.friend-img {
    width: 60px;
}
